---
import Layout from '../layouts/Layout.astro';
import ProjectEntry from '../components/ProjectEntry.astro';
---

<Layout title="Welcome to Astro.">
  <main class="mx-auto max-w-4xl px-8">
    <header class="flex flex-col gap-3 sm:flex-row justify-between py-16">
      <a class="text-sm text-stone-300 hover:text-stone-50 hover:underline font-medium" href="mailto:jsusmarcano.jm@gmail.com">{"["}jsusmarcano.jm@gmail.com{"]"}</a>
      <a class="text-sm text-stone-300 font-medium" href="/">Home</a>
    </header>
    <section class="max-w-xl">
      <h1 class="text-5xl font-bold">Hi, I am Jsusm 👋</h1>
      <p class="py-4 text-stone-300">
        Hello, I am a frontend developer with over 1 year of experience.
        I am currently studying a computer science degree at the UCV.
        Nowdays i build my projects with astrojs, nextjs, and typescript.
        Outside of scholl I like to do calisthenics, cooking and learn about programming.
      </p>
    </section>
    <section>
      <a class="text-sm text-stone-300 hover:text-stone-50 hover:underline font-medium" href="https://github.com/jsusm">[Github]</a>
    </section>
    <section class="py-10">
      <h2 class="text-xl font-bold">Selected Projects</h2>
      <div class="flex flex-col py-4 gap-4">
        <ProjectEntry href="#" title="Spirograph Gallery" desc="Typescript, Astrojs" />
        <ProjectEntry href="#" title="Awesome Neovim web" desc="Nodejs, Typescript" />
        <ProjectEntry href="#" title="Financial App" desc="Typescript, Nextjs" />
      </div>
    </section>
    <section>
      <h2 class="text-xl font-bold mb-4">Latest Posts</h2>
      <div class="space-y-4">
        <div class="px-6 py-3 border border-stone-600 rounded-lg transition-all hover:border-stone-400 hover:-translate-y-1 hover:cursor-pointer group">
          <div class="flex flex-col sm:flex-row justify-between items-baseline gap-x-1 mb-2">
            <p class="text-sm">
              Installing Arch linux
            </p>
            <p class="text-gray-400 text-sm">
              11/07/2023
            </p>
          </div>
          <p class="text-sm text-gray-400 line-clamp-1">
            In this article I'm going to explain the process of installing arch linux.
          </p>
        </div>
        <div class="px-6 py-3 border border-stone-600 rounded-lg transition-all hover:border-stone-400 hover:-translate-y-1 hover:cursor-pointer group">
          <div class="flex flex-col sm:flex-row justify-between items-baseline gap-x-1 mb-2">
            <p class="text-sm">
              Configuring neovim
            </p>
            <p class="text-gray-400 text-sm">
              11/11/2023
            </p>
          </div>
          <p class="text-sm text-gray-400 line-clamp-1">
            In this article I'm going to explain the process of installing arch linux.
          </p>
        </div>
        <div class="px-6 py-3 border border-stone-600 rounded-lg transition-all hover:border-stone-400 hover:-translate-y-1 hover:cursor-pointer group">
          <div class="flex flex-col sm:flex-row justify-between items-baseline gap-x-1 mb-2">
            <p class="text-sm">
              Setting up a typescript-node project
            </p>
            <p class="text-gray-400 text-sm">
              11/11/2023
            </p>
          </div>
          <p class="text-sm text-gray-400 line-clamp-1">
            In this article I'm going to explain the process of installing arch linux.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
