<header class="flex flex-col gap-3 sm:flex-row justify-between py-16">
  <a class="text-sm text-stone-300 hover:text-stone-50 hover:underline font-medium" href="mailto:jsusmarcano.jm@gmail.com">
    {"["}jsusmarcano.jm@gmail.com{"]"}
  </a>
  <div class="text-sm text-stone-300 flex gap-1 font-medium">
    <a class="hover:text-stone-50 hover:underline" href="/">
      Home
    </a>
    <span>/</span>
    <a class="hover:text-stone-50 hover:underline" href="/posts">
      Posts
    </a>
  </div>
</header>
